@font-face {
  font-family: 'libre_caslon_display';
  src: url('../fonts/caslon/librecaslondisplay-regular-webfont.eot');
  src: url('../fonts/caslon/librecaslondisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/caslon/librecaslondisplay-regular-webfont.woff2') format('woff2'),
  url('../fonts/caslon/librecaslondisplay-regular-webfont.woff') format('woff'),
  url('../fonts/caslon/librecaslondisplay-regular-webfont.ttf') format('truetype'),
  url('../fonts/caslon/librecaslondisplay-regular-webfont.svg#libre_caslon_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;

}
body {
  font-family: 'Libre Baskerville', Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin:0;


}
h1 {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 700;
}
h2 {
  font-size: 1em;
  font-weight: 400;
}
p {
  margin:0;
  padding:0;
}
#map {

height:100%;
  width:100%;
}
.loading {

}

.results-count {
  font-size: 2em;
  display:block;
  line-height:2em;
  text-align: left;

}
#control-container {
width:100%;
display:flex;
  z-index: 9999999;
}
.date-large {
  font-size: 2em;
  text-align: center;
  font-family: 'libre_caslon_display', Arial, sans-serif;
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
#control-container .col {
  flex: 1 1 auto;
}

#control-container .col-1 {
  flex-basis: 20%;
  text-align: center;
}
#control-container .col-1 .date-large{
  float:left;
  clear:both;
  width:100%;
  text-indent: 1em;
}

#control-container .col-2 {
  flex-basis: 80%;
  padding-left: 2em;
  padding-right: 2em;

}

#credits {
  padding: 1em;
  float:left;
  clear:both;
}

#credits li {
  line-height: 1.5em;
}
#masthead {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index: 999999;
  background: #ffffff;
  padding: 2em;
}

.toggle-parent {
  margin-top: 1em;
  float:left;
}
#control-container {
  background-color:#fff !important;
  position: absolute;
  bottom: 0;
  left:0;
  height:5em;
  padding-top: 1em;
}
#control-container input, #control-container select, #control-container button{
  float:left;
  clear:both;
  margin-top: 1em;
  width:100%;
  font-size: 1em;
}
#map-container {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-bottom: 5em;
}
#container {
  top:0;
  left:0;
  position: absolute;
  height: 100%;
  width:100%;

}


.messages-container {

  float:left;
  clear:both;
  width:100%;

}

.messages-container p {
  padding:1em 0;
}

/* Legend */
.legend {
  padding: 1em 0;
}
.legenditem {
  margin-top: 0.5em;
}
.legendsquare {
  width:1em;
  height:1em;
  float:left;
  margin-right: 0.5em;
}

.legendlabel {
}

.legendsquare.five {
  background-color:#fa784d;
}
.legendsquare.four {
  background-color:#ec3f06;
}

.legendsquare.three {
  background-color:#a92e05;
}

.legendsquare.two {
  background-color:#671c03;
}

.legendsquare.one {
  background-color:#671c03;
}
